footer{
    background-color: $beige;
    height: 445px;
    padding: 30px 0;
    font-family: "Teachers", sans-serif;
    @media screen and (min-width: 1024px){
        height: 300px;
    }
    h2{
        font-size: 45px;
        margin: 0 0 25px;
    }
    a{
        color: $aubergine;
    }
}
.reseauxBox{
    text-align: center;
    nav{
        display: flex;
        justify-content: center;
    }
    div{
        position: relative;
        background-color: $aubergine;
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
    a:not(:last-child){
        margin-right: 15px;
    }
    .fa-brands{
        color: #fff;
        font-size: 25px;
        @include absmiddle;
    }
}
.menuFooterNav{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 35px 0;
    a{
        margin-bottom: 10px;
    }  
    @media screen and (min-width: 1024px){
        flex-direction: row;
        justify-content: center;
        margin-top: 40px;
        a:not(:last-child){
            margin-right: 20px;
        }  

    }
}
.politicsNav{
    text-align: center;
    font-size: 14px;
    span:not(:last-child)::after{
        content: '｜';
        margin: 0 5px;
    }
}
.createdby{
    background-color: #000;
    padding: 10px 35px;
    width: 100vw;
    color: #fff;
    text-align: right;
    font-family: "Teachers", sans-serif;  
}