body{
    max-width: 100%;
    width: 100vw;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    &:hover{
        cursor: pointer;
    }
}
.wrapper{
    width: 90%;
    max-width: 1350px;
    margin: 0 auto;
}
h2{
    font-family: "Dancing Script", cursive;
    font-size: 50px;
    margin: 0 0 50px;
    padding: 50px 0 0;
    @media screen and (min-width: 820px){
        font-size: 60px;
    }
}
.homebtn{
    background-color: $aubergine;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: 0 3px rgb(39, 33, 33, 0.7);
    position: relative;
    a{
        @include absmiddle;
        width: 90%;
        text-align: center;
        font-family: "Teachers", sans-serif;
        font-weight: 500;
        letter-spacing: 1.3px;
        color: $beige;
    }

}
.fa-user{
    margin-right: 10px;
}