body{
    width: 100vw;
    overflow-x: hidden;
    margin: 70px auto 0;
    @media (min-width: 1201px){
        margin: 100px auto 0;
    }
}
a{
    text-decoration: none;
    &:hover{
        cursor: pointer;
    }
}
.wrapper{
    max-width: 1350px;
    margin: 0 auto;
}
h2{
    font-family: "Dancing Script", cursive;
    font-size: 60px;
    font-optical-sizing: auto;
    margin: 15px;
}