header{
    width: 100vw;
    height: 100vh;
    margin-bottom: -50px;
}

.logoBox{
    width: 100vw;
    padding: 30px 30px 15px;
    background-color: $beige;
    text-align: center;
    img{
        width: 250px;
    }
    .sublogo{
        text-transform: uppercase;
        font-size: 12px;
        padding-top: 30px;
        letter-spacing: 1.4px;
        
    }
}
.backgroundpict{
    background: url(../../images/PamSmiling.JPG) center/cover;
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 135px;
    left: 0;
    z-index: -3;
    &::after{
        @include whitefilter_before(0.2);
    }  
    @media (min-width: 1200px){
        top: 250px; 
    }
}
.beigeCircle{
    width: 330px;
    height: 600px;
    border-top-left-radius: 100%;
    background-color: rgb(250, 242, 221, 0.7);
    position: absolute;
    top: 300px;
    right: 0;
    z-index: -2;
    @media (min-width: 850px){
        width: 500px;
        height: 500px;
        border-radius: 50%;
        top: 39%;
        right: 1%;
    }
    @media (min-width: 1200px){
        width: 500px;
        height: 500px;
        border-radius: 50%;
        top: 420px;
        left: 6%;  
    }
}
.aubergineCircle{
    width: 600px;
    height: 600px;
    background-color: rgb(93, 18, 59, 0.6);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 5%;
    z-index: -1;
    display: none;
    @media (min-width: 1200px){
        display: inline; 
    }
}

.teasingBox{
    text-align: center;
    width: 250px;
    margin: 10px;
    padding: 30px 10px;
    position: absolute;
    top: 26%;
    right: 10px;
    .slug{
        opacity: 0;
        transition: 0.5s ease-in-out;
        margin-bottom: 35px;
        @include menuTypo(400, 26px);
        text-shadow: 1px 1px #fff;
    }
    .slugShow{
        opacity: 1;
    }
    @media (min-width: 850px){
        top: 10%;
        right: 115px;
    }
}
.arrow{
    width: 250px;
    rotate: -55deg;
    position: absolute;
    top: 70%;
    left:5%;
    @media (min-width: 850px){
        top: 70%;
        left: 20%;
    }   
    @media (min-width: 1200px){
        width: 300px;
        top: 81%;
        left: 22%;
        rotate: 180deg;
    }  
}
.textbeforebtn{
    text-align: center;
    width: 100px;
    position: absolute;
    top: 650px;
    left: 30px;
    rotate: -15deg;
    font-family: "Gochi Hand", cursive;
    @media (min-width: 850px){
        top: 635px;
        left: 20%;
    }
    @media (min-width: 1200px){
        top: 90%;
        left: 37%;
        
    }  
}
.testbtn{
    width: 95%;
    height: 70px;
    background-color: $aubergine;
    border-radius: 20px;
    position: absolute;
    top: 90%;
    left: 50%;
    translate: -50% 0;
    a{
        @include absmiddle;
        color: $beige;
    }
    @media (min-width: 1200px){
        top: 80%;
        width: 30%;; 
    }
}
