header{
    width: 100vw;
    height: 100vh;
}

.logoBox{
    width: 100vw;
    padding: 30px;
    background-color: #faf2dd;
    text-align: center;
    img{
        width: 250px;
    }
    .sublogo{
        text-transform: uppercase;
        font-size: 12px;
        padding-top: 20px;
        
    }
}
.backgroundpict{
    background: url(../../images/PamSmiling.JPG) center/cover;
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 135px;
    left: 0;
    z-index: -3;
    &::after{
        @include whitefilter_before(0.2);
    }  
    @media (min-width: 1200px){
        top: 250px;
        
    }
}
.circle{
    width: 585px;
    height: 585px;
    background-color: rgb(250, 242, 221, 0.7);
    border-radius: 50%;
    position: absolute;
    top: 340px;
    left: 120px;
    z-index: -2;
}

.teasingBox{
    text-align: center;
    width: 250px;
    margin: 10px;
    padding: 30px 10px;
    position: absolute;
    top: 90px;
    left: 70px;
   
    .slug{
        opacity: 0;
        transition: 0.5s ease-in-out;
        margin-bottom: 40px;
        @include menuTypo(400, 25px);
        text-shadow: 1px 1px #fff;
        
    }
    .slugShow{
        opacity: 1;
    
    }
}
.arrow{
    width: 150px;
    rotate: -40deg;
    position: absolute;
    top: 650px;
    left: 100px;
    z-index: -2;
}
.textbeforebtn{
    position: absolute;
    top: 775px;
    left: 15px;
    z-index: -2;
}
.testbtn{
    width: 95%;
    height: 70px;
    background-color: $aubergine;
    border-radius: 20px;
    position: absolute;
    top: 835px;
    left: 15px;
    z-index: -2;
    a{
        @include absmiddle;
        color: #faf2dd;
        

    }
}
