//Barre de navigation et BurgerMenu
.navBox{
    background-color: #fff;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    transition: ease-in-out 0.5s;
    @media (min-width: 1200px){
        height: 100px;
    }
    .burgerMenu{
    @include absmiddle;
    z-index: 10;
        @media (min-width: 1200px){
            display: none;
        }
        .burgerBar{
        background-color: #000;
        width: 35px;
        height: 2px;
        }
        .burgerBar:not(:last-child){
        margin-bottom: 3px;
        }
    }
    //BurgerMenu devient une croix au click
    .burgerMenu.burgerMenuActive .burgerBar:nth-child(1) {
    width: 30px;
    transition: 0.5s ease-in-out;
    transform: translateY(5px) rotate(45deg);
    }
    .burgerMenu.burgerMenuActive .burgerBar:nth-child(2) {
    opacity: 0;
    }
    .burgerMenu.burgerMenuActive .burgerBar:nth-child(3) {
    width: 30px;
    transition: 0.5s ease-in-out;
    transform: translateY(-5px) rotate(-45deg);
    }
    //Menu descend au click
    .menuDown{
    width: 100vw;
    height: 100vh;
    background-color: $beige;
    transform: translateY(-100%);
    transition: 0.5s ease-in-out;
    @media (min-width: 1200px){
        display: none;
    }
        nav{    
            width: 100vw;
            display: flex;
            flex-direction: column;
            text-align: center;
            position: absolute;
            top: 20%;
            left: 50%;
            translate: -50% 0 0;
            a{
                color: $aubergine;
                @include menuTypo;
            } 
            a:not(:last-child){
                margin-bottom: 35px;
            }
        }
    }
    .menuDownActive{
        transform: translateY(0);
    }
    .menuPrincipal{
        text-align: right;
        @media (max-width: 1200px){
            display: none;
        }
        width: 100vw;
        nav{
            max-width: 1350px;
            margin: 45px auto;
        }
        a{
            color:#000;
            @include menuTypo(400, 26px);
            
        }
        a:not(:last-child){
            margin-right: 30px;
        }  
    }    
}
.slideMenu{
    transform: translateY(-100%);
}



