#loading {
    @include absmiddle;
}
.progress-bar {
    width: 350px;
    background-color: #e0e0e0;
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
}
.progress {
    height: 100%;
    width: 0;
    background-color: $aubergine;
    transition: width 0.1s;
}
#percentage {
    margin-top: 10px;
    font-size: 16px;
    text-align: right;
    color: $aubergine;
}
.hiddenConfirmBox {
    display: none;
}







