.approcheBckgrd{
    background-color: $beige;
    text-align: center;
    padding: 50px 0;
    .approcheBoxes{
        @include minmax (300px);
        justify-items: center;
    }
    .approcheBox{
        padding: 15px 30px;
        // h3{
            // span{
            
             // }
        // }
        width: 325px;
        background: linear-gradient(0deg, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 100%);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}
.fadeIn{
    opacity : 0;
    transform: translateY(-20%);
    transition: all 0.5s ease-in-out;
  
  }
  .fadeIn.visible{
    opacity : 1;
    transform: translateY(0);
  }

.temoignagesBckgd{
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
    h2{
        margin-bottom: 25px;
    }
    .temoignagesBoxes{
        @include minmax (300px);
        justify-items: center;
    }
    .temoignageBox{
        position: relative;
        width: 400px;
        padding: 10px 30px;
        border-radius: 20px;
        img{
            width: 125px;
            height: 125px;
            border: 3px solid $aubergine;
            box-shadow: 20px 5px $beige;
            border-radius: 50%;
            object-fit: cover;
        }
        p{
            color: $aubergine;
            
        }
    }
}
.balancoirebckgd{
    position: relative;
    width: 100vw;
    height: 400px;
    background: url(../images/PamBalancoire.JPG) right/cover;
    background-attachment: fixed;
    &::before{
    content:'';
    background-color: rgb(93, 18, 59, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
    div{
        width: 375px;
        text-align: center;
        position: absolute;
        top: 65%;
        left: 50%;
        translate: -50% 0 0;
        p{
            color: #fff;
            text-shadow: 1px 1px grey;
            font-size: 20px;
        }
        @media screen and (min-width: 820px){
            width: 625px;
            top: 50%;
            p{
                font-size: 34px;
            }
            
        }
        @media screen and (min-width: 1200px){
            width: 800px;
            top: 20%;
            left: 8%;
            translate: -6% 0 0;
            p{
                font-size: 45px;
            } 
        }
    } 
}
.rappelbtn{
    background-color: #fff;
    width: 100vw;
    height: 400px;
    position: relative;
    .mainbtn{
        width: 400px;
        height: 80px;
        position: absolute;
        top: 75%;
        left: 50%;
        translate: -50% -50% 0;
    }
}
