.metierIdealBox{
    background-color: $beige;
    height: 100vh;
    margin: 0;
    font-family: "Teachers", sans-serif;
}
.cross{
    position: absolute;
    top: 35px;
    right: 35px;
    width: 35px;
    height: 35px;
    cursor: pointer; 
    .crossLine{
        width: 30px;
        height: 2px;
        background-color: $aubergine;
    }
    .crossLine:nth-of-type(1){
        transform: translateY(5px) rotate(45deg);
    }
    .crossLine:nth-of-type(2){
        transform: translateY(3px) rotate(-45deg);
    }
}
.questionnaireBox{
    background-color: #fff;
    width: 70%;
    height: 70%;
    border-radius: 20px;
    @include absmiddle;
    box-shadow: 5px 5px 5px 5px rgb(93, 18, 59, 0.5);
    position: relative;
   
    @media screen and (min-width: 1024px){
        height: 40%;
    }
    img{
        width: 60px;
        position: absolute;
        bottom: 15px;
        right: 15px;
    }
    .quiz{
        @include absmiddle;
        width: 60%;
        
    }
    .questionBox{
        text-align: center;
        p{
            font-size: 24px;
            padding-bottom: 25px;
            @media screen and (min-width: 500px){
                padding-bottom: 0;
            }
        }
        button{
            background-color: $aubergine;
            padding: 10px 50px;
            color: #fff;
            font-size: 20px;
            letter-spacing: 1.1px;
            border: none;
            cursor: pointer;
            border-radius: 10px;
            display: block;
            margin: 10px auto 0;
            @media screen and (min-width: 500px){
                display: inline;
                
            }
            &:hover{
                background-color: $aubergineHover;
            }
        }
        @media screen and (min-width: 650px){
            .btnyes{
                margin-right: 3px;
            } 
        }   
    }
}
#result{
    width: 95%;
    height: 50%;
    background-color: $beige;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
}