


//Partie Questionnaire
.questionnaireBox{
    background-color: #fff;
    width: 70%;
    height: 70%;
    border-radius: 20px;
    @include absmiddle;
    box-shadow: 5px 5px 5px 5px rgb(93, 18, 59, 0.5);
    position: relative;
    @media screen and (min-width: 1024px){
        height: 40%;
    }
    .back{
        width: 25px;
        height: 25px;
        color: $aubergine;
        position: absolute;
        top: 20px;
        left: 20px;
        .fa-arrow-left{
            font-size: 25px;
        }
    }
    img{
        width: 60px;
        position: absolute;
        bottom: 15px;
        right: 15px;
    }
    .quiz{
        @include absmiddle;
        width: 60%;
        
    }
    .questionBox{
        text-align: center;
        p{
            font-size: 24px;
            padding-bottom: 25px;
            @media screen and (min-width: 500px){
                padding-bottom: 0;
            }
        }
        button{
            background-color: $aubergine;
            padding: 10px 50px;
            color: #fff;
            font-size: 20px;
            letter-spacing: 1.1px;
            border: none;
            cursor: pointer;
            border-radius: 10px;
            display: block;
            margin: 10px auto 0;
            @media screen and (min-width: 500px){
                display: inline;
            }
            &:hover{
                background-color: $aubergineHover;
            }
        }
        @media screen and (min-width: 650px){
            .btnyes{
                margin-right: 3px;
            } 
        }   
    }
}

//Partie Résultat
.result{
    display:none;
    width: 70%;
    @include absmiddle;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 5px 5px rgb(93, 18, 59, 0.5);
    border:none;
    .resultBox{
        display: flex;
        width: 100%;
        text-align: center; 
    }
    .pamBossImg{
        width: 30%;
        img{
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
        &::after{
            @include whitefilter_before(0.1);
        }  
    }
    .resultProfilBox{
        position: relative;
        width: 70%;
        .resultProfilBoxCenter{
            @include absmiddle;
            width: 80%;
            font-size: 18px;
            
        }
        .resultText{
            margin: 0;
        }
        .resultProfil{
            font-size: 34px;
            font-family: "Gochi Hand", cursive;
            margin: 20px 0;
        }
        .resultPossibilities{

            line-height: 1.4;
            font-size: 16px;
            .bold{
                font-weight: bold;
            }
        }
        .resultExplanation{
            margin: 15px 0 20px;
        }
        .resultConclusion{
            width: 80%;
            margin: 20px auto;
        }
        .btnsProfil{
            display: flex;
            justify-content: center;
            margin-top: 50px;
            
            .coachingBtn{
                width: 350px;
                height: 60px;
                background-color: $aubergine;
                color: $beige;
                border-radius: 10px;
                position: relative;
                &:not(:last-child){
                    margin-right: 5px;
                }
                span{
                    width: 100%;
                    @include absmiddle;
                    font-size: 18px;
                    div{
                        font-size: 12px;
                        margin-top: 5px;
                        text-transform: uppercase;
                    }
                }
                
    
            }



        }
        

    }
}
